{% extends "building/layout.html" %}

{% block body %}


    <div id="home">
        <h4> Water Pump Schedule</h4>
        <ul>
            <li>Mon - Fri 08:00 AM to 10:00 AM  </li>
            <li>Mon - Fri 10:00 PM to 10:00 PM   </li>
            <li>Sat - Sun 12:00 PM to 14:00 PM  </li>
        </ul>

        <h4> Events schedule</h4>

            <table class="table">
                <tr>
                    <th>Event date</th>
                    <th>Place</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                {% for event in events%}
                    <tr>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.place }}</td>
                        <td>{{ event.type_of_event }}</td>
                        <td>{{ event.status }}</td>
                    </tr>

            {% endfor%}

            </table>

        <h4> Reported issues</h4>
        <ul>
            <li>None</li>

        </ul>

        <h4> Pending payments</h4>
        <ul>
            <li>None</li>

        </ul>


    </div>

    <div id="event">
        <h3> Event </h3>


    </div>

    <div id="issue">
        <h3> Issue </h3>
    </div>

    <div id="payment">
        <h3> Announcements </h3>
    </div>


    <hr>
   
{% endblock %}