{% extends "building/layout.html" %}

{% block body %}

<div id="building">
    <div class="division" id="home">
         <h4> Announcements  </h4>
        {% for announce in announces%}
            <h5> {{ announce.title}} </h5>
            <p> {{ announce.content }}</p>


        {% endfor%}
        <hr> 
 

        <h4> Events schedule</h4>

            <table class="table">
                <tr>
                    <th>Event date</th>
                    <th>Place</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                {% for event in events%}
                    <tr >
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.place }}</td>
                        <td>{{ event.type_of_event }}</td>
                        <td class="row{{event.status}}">{{ event.status }}</td>
                    </tr>

            {% endfor%}

            </table>

        <h4> Reported issues</h4>
        <ul>
            <li>None</li>

        </ul>

        <h4> Pending payments</h4>
        <ul>
            <li>None</li>

        </ul>


    </div>

    <div class="division" id="event">
        <h3> Event </h3>


    </div>

    <div class="division" id="issue">
        <h3> Issue </h3>
    </div>

    <div class="division" id="payment">
        <h3> Announcements </h3>
    </div>


    <hr>
</div>
   
{% endblock %}